@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
body {
    font-family: 'Roboto Flex', sans-serif;
    color: #000;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e2ecf1;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #a9cbda;
    border-radius: 8px;
    height: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 80, 93);
  }


   