@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Urbanist:wght@100..900&display=swap');

html, body {
    background-color: #f2f5ff;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif; 
    min-height: 100%;
}

#batList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.battery_item {
    background-color: white;
    width: 90%; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.battery_item:active {
    cursor: grabbing;
}

.dragging {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.drag-over {
    background-color: #d3d3d3;
    border: 2px dashed #888;
}

.textbox, .battery_item span {
    font-size: 16px;
    padding: 5px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin: 1vw;
}

/* Color Slider */
.color-slider {
    width: 40px;
    height: 20px;
    appearance: none;
    background: lightblue;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    margin-left: auto;
}

.color-slider::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

.color-slider:checked {
    background: lightcoral;
}

.color-slider:checked::before {
    left: 22px;
}
