/* Navbar Styling */
.navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.nav-button {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(78, 107, 123);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nav-button span {
    display: block;
    width: 25px;
    height: 3px;
    background: rgb(78, 107, 123);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-button span::before, 
.nav-button span::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: rgb(78, 107, 123);
    transition: all 0.3s ease-in-out;
}

.nav-button span::before {
    top: -8px;
}

.nav-button span::after {
    top: 8px;
}

.nav-button.active span {
    background: transparent;
}

.nav-button.active span::before {
    transform: rotate(45deg);
    top: 0;
}

.nav-button.active span::after {
    transform: rotate(-45deg);
    top: 0;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30vw;
    height: 100vh;
    z-index: 999;
    /* background: rgba(138, 179, 186, 0.717); */
    background: linear-gradient(rgba(162, 202, 210, 0.98),
                                rgba(142, 181, 187, 0.98),
                                rgba(87, 133, 141, 0.98));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.2s ease-in-out;
}

.nav-menu.active {
    right: 0;
}

#nav-logo{
    position: absolute;
    width: 350px;
    height: 60px;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 15px;
}

.nav-menu a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin: 5vh 0;
    letter-spacing: 0.3vw;
    font-weight: 600;
}

.nav-menu a:first-child {
    color: white;
}
.nav-menu a:nth-child(2) {
    color: rgb(183, 234, 237);
}
.nav-menu a:nth-child(3) {
    color: rgb(93, 148, 152);
}
.nav-menu a:nth-child(4) {
    color: rgb(76, 127, 130);
}
.nav-menu a:last-child {
    color: rgb(53, 94, 97);
}