#cover {
    background-image: url('../img/home.jpg');
    background-size: cover;
}

#cover, #project_menu {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#home_header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 70vh;

}

#home_header p{
    font-size: 2.5vh;
    font-weight: 500;
}

#team_num {
    margin: 0px;
    line-height: 0;
    margin-left: 1vw;
    font-family: 'Roboto', sans-serif;
}

#team_num p {
    font-size: 4vh;
    font-weight: 500;
    letter-spacing: 0.7vw;
}

#title {
    letter-spacing: 1vw;
    font-size: 10vh;
    font-weight: 500;
}

#scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

#scroll_text {
    font-size: 2vh;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.2vw;
}

#scroll_line {
    display: block;
    width: 10vw;
    height: 2px;
    background: #ffffff;
}


#project_menu {
    flex-direction: row;
}

.project_item {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 1vw; */
    background-color: rgba(73, 126, 133, 0.666);
    height: 100vh;
    font-size: 6vh;
}


#narask {
    /* margin-left: 2vw; */
    background-color: #f3f6fc;
}

#narpit {
    background-color: #F8FAFC;

}

#nartech {
    background-color: #fefefe;

}

#neptune {
    /* margin-right: 2vw; */
    background-color: #f4fbfa;
}

.project_item h4{
    position: relative;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.7vw;
    width: 25vw;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.project_item .num{
    margin: 0;
    font-size:80vh;
    position: absolute;
    font-family: "urbanist";
    color: #1178949d;
}


#narask h4 {
    background-color: #f3f6fc;
}

#narpit h4 {
    background-color: #F8FAFC;

}

#nartech h4 {
    background-color: #fefefe;

}

#neptune h4 {
    /* margin-right: 2vw; */
    background-color: #f4fbfa;
}

