.parent {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

.parent::-webkit-scrollbar {
    display: none;
}

#cover {
    background-image: url('../img/home.jpg');
    background-size: cover;
}

#cover, #project_menu {
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

#home_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 70vh;
    padding: 0;
    margin: 0;
}

#title_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#home_header p{
    font-size: 2.5vh;
    font-weight: 500;
}

#team_num {
    margin: 0px;
    padding: 0;
    line-height: 0;
    margin-left: 1vw;
    font-family: 'Roboto', sans-serif;
}

#team_num p {
    font-size: 4vh;
    font-weight: 500;
    letter-spacing: 0.7vw;
}

#title {
    letter-spacing: 1vw;
    font-size: 10vh;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#home_header h4 {
    position: relative;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#black_fade_down {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Ensures full width */
    height: 40%; /* Ensures full height */
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 0;
}

#scroll {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    position: relative; /* This ensures the gradient doesn't mess with the layout */
    overflow: hidden;  /* Ensures the gradient stays within bounds */
}

#scroll:hover {
    cursor: pointer;
}

#scroll_gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 300% 300%;
    background-image: linear-gradient(90deg, 
    hsla(189, 100%, 65%, 1) 0%, 
    hsla(207, 97%, 64%, 1) 30%, 
    hsla(230, 92%, 64%, 1) 54%, 
    hsla(280, 100%, 43%, 1) 100%);

    mask-image: linear-gradient(to top, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0) 70%);
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

/* On hover, fade the background gradient in */
#scroll:hover #scroll_gradient {
    opacity: 1;
    animation: scrollGradientAnimation 10s ease infinite;
}

/* Gradient animation */
@keyframes scrollGradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



#scroll_text {
    font-size: 2vh;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.2vw;
    z-index: 1;
}

#scroll_line {
    display: block;
    width: 10vw;
    height: 2px;
    background: #ffffff;
    z-index: 1;
}

#black_fade_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20%;          /* Adjust height as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Black to transparent gradient */
    z-index: 1;           /* Keep it behind the content */
}

#project_menu {
    flex-direction: row;
    width: 100%;
}

.project_item {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 1vw; */
    background-color: rgba(73, 126, 133, 0.666);
    height: 100vh;
    font-size: 6vh;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;

}

.project_item:hover {
    cursor: pointer;
    /* border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 2; */
    box-shadow: inset 0 0 0 5px #58d9fde0;
}




#narask {
    /* margin-left: 2vw; */
    background-color: #08173a;
}

#narpit {
    background-color: #081e51;

}

#nartech {
    background-color: #1e305b;

}

#narstrat {
    /* margin-right: 2vw; */
    background-color: #18316b;
}

.project_item h4{
    position: relative;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.7vw;
    width: 23vw;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #c9efff;
}

.project_item .num{
    margin: 0;
    font-size:80vh;
    position: absolute;
    font-family: "urbanist";
    color: #58d9fde0;
}


#narask h4 {
    background-color: #08173a;
}

#narpit h4 {
    background-color: #081e51;

}

#nartech h4 {
    background-color: #1e305b;

}

#narstrat h4 {
    /* margin-right: 2vw; */
    background-color: #18316b;
}

