body {
    font-family: "Lucida Console", Arial, Helvetica;
    margin: 0;
}

.title_div {
    text-align: center;
    color:white;
    background-color: rgb(16, 16, 120);
    padding: 2cap;
    width: 100vw;
    margin-bottom: 20px;
}

#directory {
    float: left;
    width: 44%;
    margin: auto 2.5%;
    margin-right: 0;
    border-style:solid;
    border-width: 5px;
    padding: 10px;
    border-color: black;
    height: 50vh;
}

#search {
    float: right;
    width: 44%;
    margin: auto 2.5%;
    margin-left: 0;
    border-style:solid;
    border-width: 5px;
    padding: 10px;
    border-color: black;
    height: 50vh;
}